{% extends "./index.html.twig" %}
{% block body %}
    <nav>
        <ul>
            <li><a href="/?a=client">Client</a></li>
            <li><a href="/?a=sales">Sales</a></li>
        </ul>
    </nav>
{% endblock %}
