<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Joey - Sign up</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,800" rel="stylesheet">
</head>

<body class="dashboard">


<!-- CREATE POPIN MODIFY COMPLEMENTARY -->
<div class="create-client__modal edit__complementaryInfos modal-custom">
    <div class="modal__head">
        <h1 class="title__dashboard popin">Modify : Complementary infos</h1>
    </div>
    <div class="modal__main">
        <div class="create-client__modal-contain with-divider">
            <div class="field__divider">
                <div class="field">
                    <label for="" class="label">Impact level</label>
                    <div class="input__text-icon">
                        <input type="text" class="input__text">
                    </div>
                </div>
                <div class="field">
                    <label for="" class="label">Actual account manager</label>
                    <div class="input__text-icon">
                        <input type="text" class="input__text">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="create-client__modal-footer">
        <div class="create-client__modal-btn-outer">
            <button class="btn create-client__modal-btn cancel">
                <span class="btn__inner-text cancel">Cancel</span>
            </button>
        </div>
        <div class="create-client__modal-btn-outer">
            <button class="btn create-client__modal-btn">
                <span class="btn__inner-text change">Validate the change</span>
            </button>
        </div>
    </div>
</div>
<!-- CREATE POPIN MODIFY PROCESS -->
<div class="create-client__modal edit__process modal-custom">
    <div class="modal__head">
        <h1 class="title__dashboard popin">Modify : Process</h1>
    </div>
    <div class="modal__main">
        <div class="create-client__modal-contain with-divider">
            <div class="field__divider">
                <div class="field">
                    <label for="" class="label">Status</label>
                    <div class="input__text-icon">
                        <input type="text" class="input__text">
                    </div>
                </div>
                <div class="field">
                    <label for="" class="label">Client Status</label>
                    <div class="input__text-icon">
                        <input type="text" class="input__text">
                    </div>
                </div>
                <div class="field">
                    <label for="" class="label">Client origin</label>
                    <div class="input__text-icon">
                        <input type="text" class="input__text">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="create-client__modal-footer">
        <div class="create-client__modal-btn-outer">
            <button class="btn create-client__modal-btn cancel">
                <span class="btn__inner-text cancel">Cancel</span>
            </button>
        </div>
        <div class="create-client__modal-btn-outer">
            <button class="btn create-client__modal-btn">
                <span class="btn__inner-text change">Validate the change</span>
            </button>
        </div>
    </div>
</div>
</body>

<script src="js/client.js"></script>


</html>