{% extends "./index.html.twig" %}
{% block body %}
    <form action="" method="post">

        <div class="create-client__modal edit__accountInformation modal-custom">
            <div class="modal__head">
                <h1 class="title__dashboard popin">Modify : Account information</h1>
            </div>
            <div class="modal__main">
                <div class="create-client__modal-contain with-divider">
                    <div class="field__divider">
                        <div class="field">
                            <label for="" class="label">Civility</label>
                            <div class="input__text-icon">
                                <input type="text" class="input__text">
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label">Email</label>
                            <div class="input__text-icon">
                                <input type="text" class="input__text">
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label">Company name</label>
                            <div class="input__text-icon">
                                <input type="text" class="input__text">
                            </div>
                        </div>
                    </div>
                    <div class="field__divider">
                        <div class="field">
                            <label for="" class="label">Last name</label>
                            <div class="input__text-icon">
                                <input type="text" class="input__text">
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label">Phone</label>
                            <div class="input__text-icon">
                                <input type="text" class="input__text">
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label">Company city</label>
                            <div class="input__text-icon">
                                <input type="text" class="input__text">
                            </div>
                        </div>
                    </div>
                    <div class="field__divider">
                        <div class="field">
                            <label for="" class="label">First name</label>
                            <div class="input__text-icon">
                                <input type="text" class="input__text">
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label">Company address</label>
                            <div class="input__text-icon">
                                <input type="text" class="input__text">
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label">Company zipcode</label>
                            <div class="input__text-icon">
                                <input type="text" class="input__text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="create-client__modal-footer">
                <div class="create-client__modal-btn-outer">
                    <button class="btn create-client__modal-btn cancel">
                        <span class="btn__inner-text cancel">Cancel</span>
                    </button>
                </div>
                <div class="create-client__modal-btn-outer">
                    <button class="btn create-client__modal-btn">
                        <span class="btn__inner-text change">Validate the change</span>
                    </button>
                </div>
            </div>
        </div>
        <input type="submit" name="submit" value="Valider">
    </form>
{% endblock %}
