.create-client {
    position: relative;
    .layout__dashboard {
        filter: blur(15px);
    }
    .title__dashboard {
        color: $blue;
    }
    &__modal-footer {
        display: flex;
        justify-content: flex-end;
    }
}

.create-client__modal {
    position: absolute;
    width: 80%;
    margin: auto;
    left: 0;
    right: 0;
    top: 10vh; // to change
    bottom: 0;
    &-step {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .field {
            width: 31%;
            margin-bottom: 2rem;
        }
        &:after {
            content: "";
            width: 31%;
        }
        // // to remove for js scripts
        &:nth-child(n+1) {
            display: none;
        }
        &.with-divider {
            display: flex;
            flex-direction: column;
            .field__divider {
                display: flex;
                justify-content: space-between;
            }
        }

        &.success {
            flex-direction: column;
            text-align: center;
        }
    }
    &-btn-outer {
        flex: 1;
        max-width: 300px;
    }
    &-btn {
        box-shadow: $boxShadow02;
        &:hover {
            box-shadow: $boxShadow02hover;
        }
    }
}