.sign-up {
    &__headtitle {
        margin-bottom: 2.5rem;
        text-align: center;
    }

    &__main {
        width: 45%;
    }

    &__form-body {
        margin-bottom: 3rem;
    }

    &__form-footer {
        text-align: center;
    }
}