.btn {
	background: $blue;
	color: $white;
	font-size: 13px;
	line-height: 20px;
	font-weight: 600;
	height: 54px;
	padding: 0 120px;
	border-radius: 4px;
	border: none;
	text-transform: uppercase;
	cursor: pointer;

	&:hover {
		background: $blueHover;
	}
}