<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,800" rel="stylesheet">
</head>
{% if classBody is not null %}
<body class="{{ classBody }}">
    {% else %}
    <body>
{% endif %}
{% block body %}

{% endblock %}

{% block javascripts %}

{% endblock %}
</body>
</html>