{% extends "./index.html.twig" %}
{% block body %}

    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>connexion</title>
        <link rel="stylesheet" href="styles/index.css">
    </head>
    <body>
    <header>
        <h1>Connexion</h1>
    </header>

    <main>
        <div class="verif"></div>
        <form action="" method="post">
            <table>
                <tr>
                    <td>Mail</td>
                    <td><input type="text" name="mail" placeholder="Mail" class="input_text" required></td>

                </tr>
                <tr>
                    <td>Mot de passe</td>
                    <td><input type="password" placeholder="Mot de passe" name="pwd" class="input_text" required></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit"  name="connexion_bouton" class="input_text submit" value="Se Connecter" ></td>
                </tr>
            </table>
        </form>
    </main>
    </body>
    </html>
{% endblock %}
