<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../../../web/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,400,600,900" rel="stylesheet">
</head>

<body class="client-list">
  <header class="header-connect">
    <div class="info">
      <p class="logo"><i class="icon-logo"></i>OPLY</p>
      <button class="btn btn__client">Add a client</button>
    </div>
    <div class="info info-user">
      <p class="name">Mr. John Doe</p>
      <div class="img-user"></div>
    </div>
  </header>
  <div class="layout">
  </div>
    
</body>
</html>