<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Joey - Sign up</title>
    <link rel="stylesheet" type="text/css" href="../../../web/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,400,500, 600,900" rel="stylesheet">
</head>
<body class="sign-up">
    <header class="header"><a href="">Oply</a></header>

    <main class="layout__container">
        <div class="sign-up__main">
            <div class="sign-up__headtitle">
                <h1>Sign up to Joey</h1>
                <p class="subtitle">Petite catchline des familles</p>
            </div>
        
            <form action="">
                <div class="field">
                    <label for="" class="label">Email address</label>
                    <input type="text" class="input__text" placeholder="johnidoe@oply.com">
                </div>
                <div class="field">
                    <label for="" class="label">Password</label>
                    <input type="text" class="input__text" placeholder="johnidoe@oply.com">
                </div>
                <div class="field">
                    <label for="" class="label">Confirmation of password</label>
                    <input type="text" class="input__text" placeholder="johnidoe@oply.com">
                </div>

                <div class="sign-up__form-footer">
                    <div class="btn__outer">
                        <button class="btn">Sign up now</button>
                    </div>
                    <a href="">Already have an account? Log in</a>
                </div>
            </form>
        </div>
    </main>
    
</body>
</html>