.block__container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 26px;

	.block-info {
		max-width: calc(33.333% - 16px);
	}
}

.block-info {
	background: $white;
	border: 1px solid #E3E9F3;
	border-radius: 2px;
	min-height: 235px;
	width: 100%;

	&__head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #E3E9F3;
		padding: 0 24px;

		.icon {
			cursor: pointer;
		}
	}

	&__main {
		padding: 1.5rem 2rem;
	}

	.info__text {
		display: flex;
		align-items: center;
		margin-bottom: 14px;

		p {
			// margin-left: 12px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		span[class^="icon"] {
			margin-right: 12px;
		}

		.icon-mail {
			font-size: 11px;
		}

		.icon-user {
			font-size: 18px;
		}

		.icon-phone {
			font-size: 19px;
		}
	}

	.info__text--singleLine {
		@extend .info__text;
		flex-direction: column;
		align-items: flex-start;
	}

	.info__data {
		flex-direction: column;

		p {
			margin-top: 30px;
			margin-bottom: 22px;
		}
	}
}