.btn {
	display: flex;
	justify-content: space-between;
	background: $blue;
	color: $white;
	font-size: 13px;
	line-height: 20px;
	font-weight: $fwMedium;
	height: 54px;
	width: 100%;
	padding: 0 5rem;
	line-height: 54px;
	border-radius: $radiusSmall;
	border: none;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .75px;
	transition: .3s $cubic01;
	cursor: pointer;

	&:hover {
		background: $blueHover;
		transition: .3s $cubic01;
	}

	&__inner-text {
		color: inherit;
	}
}

.btn__outer {
	margin-bottom: 1rem;
}

.btn__bottom-msg {
	font-size: .85rem;

	a {
		font-size: inherit;
	}
}

.btn__client {
	max-width: 153px;
	padding: 0 19px;
	height: 42px;
	font-size: 16px;
	line-height: 25px;
	text-transform: initial;
}