.btn {
	display: flex;
	justify-content: space-between;
	background: $blue;
	color: $white;
	font-size: 13px;
	line-height: 20px;
	font-weight: $fwMedium;
	height: 54px;
	width: 100%;
	padding: 0 4rem;
	line-height: 54px;
	border-radius: $radiusSmall;
	border: none;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .75px;
	transition: .3s $cubic01;
	cursor: pointer;

	&:hover {
		background: $blueHover;
		transition: .3s $cubic01;
	}

	&__inner-text {
		color: inherit;
	}
}

.btn__outer {
	margin-bottom: 1rem;
}

.btn__bottom-msg {
	font-size: .85rem;

	a {
		font-size: inherit;
	}
}

.btn__client {
	display: flex;
	align-items: center;
	max-width: 170px;
	padding: 0 19px;
	height: 38px;
	font-size: 1rem;
	line-height: 25px;
	font-weight: $fwLight;
	text-transform: initial;

	.icon-add-user:before {
		font-size: 1.5rem;
		color: $white;
		margin-right: .5rem;
	}
}