.btn {
	background: $blue;
	color: $white;
	font-size: 13px;
	line-height: 20px;
	font-weight: $fwMedium;
	height: 54px;
	padding: 0 120px;
	border-radius: $radiusSmall;
	border: none;
	text-transform: uppercase;
	letter-spacing: .75px;
	transition: .3s $cubic01;
	cursor: pointer;

	&:hover {
		background: $blueHover;
		transition: .3s $cubic01;
	}
}

.btn__outer {
	margin-bottom: .75rem;
}