.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;

    &--valid {
        .label {
            color: $green;
        }
    
        .input__text {
            border-color: $green;
        }
    }

    &--error {
        margin-bottom: 1rem;

        .label {
            color: $orange;
        }
    
        .input__text-icon {
            border-color: $orange;
        }
    }

    &--active {
        .label {
            color: $blue;
        }
    
        .input__text {
            border-color: $blue;
        }
    }

    &--disabled {
        .label {
            color: #D9D9D9;
        }
        .input__text {
            color: #D9D9D9;
            background: #FAFAFA;
            border-color: #F5F5F5;
        }
    }
}

