.label {
    margin-bottom: .25rem;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: .15px;
}

.errorLabel {
    color: $orange;
    margin-top: .25rem;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: .15px;
}