.layout {
    max-width: $widthMax;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 3rem;

    @include minWidth($bpTablet) {
        width: 90%;
    }
    
    @include minWidth($bpDesktopSm) {
        width: 80%;
    }

    &__blur {
        filter: blur(15px);
        transition: filter 0.3s;

    }
}