 /** Custom Select **/

 .custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
  margin: 10px;
}

.custom-select-wrapper select {
  display: none;
}

.custom-select {
  position: relative;
  display: inline-block;
  min-width: 150px;
  width: 200px;
  max-width: 300px;
  height: 50px;
}

.custom-select-trigger {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 150px;
  padding: 0 1.5rem 0 22px;
  // font-weight: $fwLight;
  line-height: 50px;
  background: #FFF;
  border-radius: $radiusSmall;
  cursor: pointer;
  height: 50px;
  border: 1px solid $dividerLight;
}

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 100%;
  margin: 15px 0;
  border: 1px solid $dividerLight;
  border-radius: $radiusSmall;
  box-sizing: border-box;
  box-shadow: 0 2px 1px rgba(0, 0, 0, .07);
  background: $white;
  transition: .15s $cubic01;
  margin-top: 25px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
  max-height: 200px;
  overflow: auto;
}

.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  max-height: 200px;
  overflow: auto;
  box-shadow: $boxShadow02;
}

.option-hover:before {
  background: #f9f9f9;
}

.custom-option {
  position: relative;
  display: block;
  padding: 0 22px;
  line-height: 40px;
  transition: .1s $cubic01;
  cursor: pointer;
}

.custom-option:first-of-type {
  border-radius: 4px 4px 0 0;
}

.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}

.custom-option:hover,
.custom-option.selection {
  background: #f4f8ff;
}