body {
    background: #FAFEFF;
}

.yolo {
    margin-bottom: 6rem;
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;

    // table head
    &__head-cell {
        padding: 1rem .75rem;
        font-weight: 300;
        font-size: .875rem;
        text-transform: uppercase;
        color: #bbb;
        letter-spacing: .25px;
    }

    // table body
    &__body-row {
        background: $white;
        border-radius: $radiusSmall;
        box-shadow: $boxShadow01;
    }

    &__body-cell {
        padding: 1.5rem .75rem;
        font-weight: 300;
        font-size: .875rem;
        text-align: center;
    }
}