.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 7.5px;

    // table head
    &__head-cell {
        display: inline-flex;
        justify-content: center;
        padding: .75rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $grey;
        letter-spacing: .25px;
        cursor: pointer;

        .icon-arrow-bottom {
            margin-left: .5rem;
            &:before {
                color: $grey;
                font-size: 6px;
            }
        }
    }

    &__head-cell.current {
        .icon-arrow-bottom {
            transform: rotate(180deg);
        }
    }

    // table body
    &__body-row {
        border-radius: $radiusSmall;
        box-shadow: $boxShadow01;
    }

    &__body-cell {
        background: $white;
        padding: 1.5rem .75rem;
        font-weight: 300;
        text-align: center;

        &:first-child {
            border-top-left-radius: $radiusSmall;
            border-bottom-left-radius: $radiusSmall;
        }
        
        &:last-child {
            border-top-right-radius: $radiusSmall;
            border-bottom-right-radius: $radiusSmall;
        }
    }
}