.tag {
    // impact level tag
    &__impact {
        padding: .35rem 1.5rem;
        color: #bbb;
        border-radius: 50px;
        border: 1px solid #bbb;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: .5px;

        &.high {
            border-color: $orange;
            color: $orange;
        }

        &.medium {
            border-color: $green;
            color: $green;
        }

        &.low {
            border-color: $blue;
            color: $blue;
        }
    }

    &__impact--simple {
        @extend .tag__impact;
        font-size: inherit;
        border: none;
        padding: 0;
    }

    // process
    &__process {
        font-size: inherit;
        
        &:before {
            content: '• ';
        }

        &.not-processing {
            color: $orange;
        }

        &.processing {
            color: #00CFD8;
        }

        &.processed {
            color: $green;
        }
    }
}