.title {
    margin-bottom: .5rem;
}

.title__first {
    @extend .title;
    font-weight: $fwBolder;
    font-size: 1.75rem;
}

.title__dashboard {
	font-size: 28px;
	line-height: 42px;
	font-weight: 300;
	color: $turquoise;
	margin-top: 56px;
	margin-bottom: 40px;
}

.title__customerCard {
	font-size: 31px;
	line-height: 47px;
	font-weight: 700;
	color: $blue;
	margin-top: 44px;
	margin-bottom: 34px;
}

.title__blockInfo {
	font-size: 16px;
	line-height: 25px;
	font-weight: 500;
	padding: 13px 0 11px;
}