.title {
    margin-bottom: .5rem;
}

.title__first {
    @extend .title;
    font-weight: $fwBolder;
    font-size: 1.75rem;
}

.title__dashboard {
	font-size: 28px;
	line-height: 42px;
	font-weight: 300;
	color: $turquoise;
	margin-top: 56px;
	margin-bottom: 40px;

	&.popin {
		color: $textBlue;
	}
}