body.modal-active {
    background-color: rgba(255,255,255,.3);
    .header {
        box-shadow: none;
    }

    .layout {
        opacity: .5;
        filter: blur(25px);
    }
}

.color-green {
    color: $green;
}

.color-orange {
    color: $orange;
}

.color-blue {
    color: $blue;
}

.color-turquoise {
    color: $turquoise;
}

.text-ellipsed {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}