.color-green {
    color: $green;
}

.color-orange {
    color: $orange;
}

.color-blue {
    color: $blue;
}

.color-turquoise {
    color: $turquoise;
}

.text-ellipsed {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}