/*breakpoints*/
$breakPointMobile: 550px;
$breakPointTablet: 780px;
$breakPointDesktop: 1024px;
$breakPointMaxDesktop : 1440px;


/* ==========================================================================
    MIXINS
/* ========================================================================== */
@mixin maxWidth($breakpointValue) {
  @media only screen and (max-width: $breakpointValue) {
    @content;
  }
}

@mixin minWidth($breakpointValue) {
  @media only screen and (min-width: $breakpointValue) {
    @content;
  }
}
