/* ==========================================================================
    MIXINS
/* ========================================================================== */
@mixin maxWidth($breakpointValue) {
  @media only screen and (max-width: $breakpointValue) {
    @content;
  }
}

@mixin minWidth($breakpointValue) {
  @media only screen and (min-width: $breakpointValue) {
    @content;
  }
}
