/**
 * COLORS
 */

// body colors
$bodyColor: #0A175E;
$white: #FFFFFF;
$bgBlue : #FAFEFF;

// border colors
$dividerLight: #E3E9F3;

// colors - base > light > lighter
$blue: #3756F2;
$blueHover: #2442DA;
$turquoise: #00CFD8;

$green: #77E58A;
$orange: #FF5722;

// border radius
$radiusSmall: 4px;

// texte color:
$textBlue: #0A175E;
$grey: #bbb;

/**
 * FONT
 */

$mainFont: 'Poppins', sans-serif;

$fwLighter: 200;
$fwLight: 300;
$fwRegular: 400;
$fwMedium: 500;
$fwBold: 600;
$fwBolder: 800;

/**
 * LAYOUTS (widths and heights)
 */

 $widthMax: 1280px;


/**
 * BOX SHADOWS
 */

$boxShadow00: 0 2px 4px 0 rgba(0,0,0,0.05);
$boxShadow01: 0 2px 6px 0 rgba(0,176,255,0.08);
$boxShadow02: 0 13px 14px 0 rgba(0,0,0,0.06);
$boxShadow02hover: 0 13px 30px 0 rgba(0,0,0,0.4);