/**
 * COLORS
 */

// body colors
$bodyColor: #0A175E;
$white: #FFFFFF;

// border colors
$dividerLight: #E3E9F3;

// colors - base > light > lighter
$blue: #3756F2;
$blueHover: #2442DA;
$green: #77E58A;
$orange: #FF5722;

// border radius
$radiusSmall: 4px;

/**
 * FONT
 */

$mainFont: 'Poppins', sans-serif;

$fwLight: 200;
$fwRegular: 400;
$fwMedium: 500;
$fwBold: 600;
$fwBolder: 800;

/**
 * LAYOUTS (widths and heights)
 */

 $widthMax: 1280px;