.modal__head {
    margin-bottom: 3rem;
    text-align: center;
}

.modal__main {
    background: $white;
    border: 1px solid $dividerLight;
    border-radius: $radiusSmall;
    margin-bottom: 3rem;
    padding: 3rem;
    &-title {
        @extend .title__first;
        font-weight: $fwRegular;
    }
}

.edit__complementaryInfos {

    .field__divider {
        &:after {
            content: "";
            width: 31%;
        }
    }
}

.client-card {

    .modal__main {
        padding-top: 70px;
        min-height: 366px;
        padding: 70px 11rem 70px;
    }
}